.revision {
    position: absolute;
    margin-top: 70px;
    background-color: #e3e3e3;
    border-color: #e3e3e3;
}
.revision:hover {
    background-color: #cccccc;
    border-color: #cccccc;
    transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
}
.revision-up {
    border-bottom-width: 2px;
    border-bottom-style: solid;
}
.revision-down {
    border-top-width: 2px;
    border-top-style: solid;
}

.revision-old {
    background-color: #fee6a8;
    border-color: #e8bd4f;
}
.revision-old:hover {
    background-color: #fdc44b;
    border-color: #dda000;
}
.revision-new {
    background-color: #c3e2ff;
    border-color: #1e6db8;
}
.revision-new:hover {
    background-color: #45a6ff;
    border-color: #065cad;
}
.revision-intermediate {
    background-color: #bcbcbc;
    border-color: #989898;
}
.revision-intermediate:hover {
    background-color: #a6a6a6;
    border-color: #828282;
}

.revision-wrapper {
    position: absolute;
    z-index: 10;
    height: 140px;
}
.revision-wrapper:hover {
    background-color: #f2f2f2;
    transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
}

.revision-border-box {
    height: 100%;
    width: 100%;
    border-left: solid 1px white;
}

.revision-tooltip {
    text-align: center;
}
.revision-tooltip .tipsy-inner {
    max-width: none;
}

.revisions {
    height: 140px;
}
.revisions-container {
    width: 90%;
    position: relative;
    overflow: hidden;
}
.revisions-container, .arrow {
    float: left;
}
.arrow {
    width: 20px;
    height: 140px;
    border: #e4e4e4 solid 2px;
    background-position: center center;
    background-repeat: no-repeat;
}
.arrow:hover{
    cursor: pointer;
}
.left-arrow {
    margin-right: 30px;

}
.right-arrow {
    margin-left: 30px;
}

.stopper {
    position: absolute;
    top: 50%;
    height: 50px;
    width: 0;
}

.revision-slider {
    position: relative;
    margin: auto;
}

.pointer-container {
    position: absolute;
    clear: both;
    height: 1px;
    top: 57px;
    margin: auto;
    z-index: 10;
}
.lower-pointer {
    top: 15px;
}
.pointer {
    position: absolute !important;
    z-index: 11;
    width: 18px;
    height: 13px;
    background-repeat: no-repeat;
}


.revisions-annotations {
    color: #bcbcbc;
    font-size: 88%;
    margin: 0 60px;
}
.revisions-older {
    float:left;
}
.revisions-newer {
    float:right;
}
.revisions-diffsize {
    color: #bcbcbc;
    font-size: 88%;

    width: 140px;
    height: 20px;
    border-bottom: solid 1px #bcbcbc;

    position: absolute;
    top: 60px;
    left: -30px;

    /* see http://stackoverflow.com/a/1080812/4782503 */
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);

    /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;

    /* Should be unset in IE9+ I think. */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#revision-slider-darkness {
    background-color: white;
    filter:alpha(opacity=50); /* IE */
    opacity: 0.5; /* Safari, Opera */
    -moz-opacity:0.50; /* FireFox */
    z-index: 20;
    height: 100%;
    width: 100%;
    background-repeat:no-repeat;
    background-position:center;
    position:absolute;
    top: 0;
    left: 0;
}
