.revision {
    position: absolute;
    margin-top: 70px;
    background-color: #bcbcbc;
}
.revision:hover {
    background-color: #a6a6a6;
    border-color: #a6a6a6;
    transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
}
.revision-up {
    border-bottom: 2px solid #bcbcbc;
}
.revision-down {
    border-top: 2px solid #bcbcbc;
}

.revision-wrapper {
    position: absolute;
    z-index: 10;
    height: 140px;
}
.revision-wrapper:hover {
    background-color: #e3e3e3;
    transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
}

.revision-border-box {
    height: 100%;
    width: 100%;
    border-left: solid 1px white;
}

.revision-tooltip {
    text-align: center;
}

.revisions {
    height: 140px;
}
.revisions-container {
    width: 90%;
    position: relative;
    overflow: hidden;
}
.revisions-container, .arrow {
    float: left;
}
.arrow {
    width: 20px;
    height: 140px;
    border: #e4e4e4 solid 2px;
    background-position: center center;
    background-repeat: no-repeat;
}
.arrow:hover{
    cursor: pointer;
}
.left-arrow {
    margin-right: 30px;

}
.right-arrow {
    margin-left: 30px;
}

.stopper {
    position: absolute;
    top: 50%;
    height: 50px;
    width: 0;
}

.revision-slider {
    position: relative;
    margin: auto;
}

.pointer-container {
    position: absolute;
    clear: both;
    height: 1px;
    top: 60px;
    margin: auto;
    z-index: 10;
}
.lower-pointer {
    top: 12px;
}
.pointer {
    position: absolute !important;
    z-index: 11;
    width: 20px;
    height: 10px;
}

#revision-slider-darkness {
    background-color: white;
    filter:alpha(opacity=50); /* IE */
    opacity: 0.5; /* Safari, Opera */
    -moz-opacity:0.50; /* FireFox */
    z-index: 20;
    height: 100%;
    width: 100%;
    background-repeat:no-repeat;
    background-position:center;
    position:absolute;
    top: 0;
    left: 0;
}
